
options {
	directory "/etc/named";
	pid-file "named.conf";
	allow-query-cache {any;};
	recursion yes;
};

zone "cfcd208495d565ef66e7dff9f98764da.com" IN {
	type master;
	file "/etc/named/zone/test/cfcd208495d565ef66e7dff9f98764da.com.zone";
};

zone "c4ca4238a0b923820dcc509a6f75849b.com" IN {
	type master;
	file "/etc/named/zone/test/c4ca4238a0b923820dcc509a6f75849b.com.zone";
};

zone "c81e728d9d4c2f636f067f89cc14862c.com" IN {
	type master;
	file "/etc/named/zone/test/c81e728d9d4c2f636f067f89cc14862c.com.zone";
};

logging {
    channel query_log {
        file "/var/named/log/query.log" versions 3 size 20m;
        print-time yes;
        print-category yes;
        severity dynamic;
    };
    category queries {
        query_log;
    };
};
